<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Gulab Jamun</title>
</head>
<body style="background-color:powderblue;">
<H1>Gulab Jamun</H1>
<img src="https://media.istockphoto.com/photos/gulab-jamun-picture-id668147754?k=6&m=668147754&s=612x612&w=0&h=mUy4-Z7wXIVwLkzL06LKKQ0R5uXH_fhiaayzQdxjXK0=">
<p>
    <strong> INGREDIENTS</strong></p>
    FOR SUGAR SYRUP:</br>
<ul>
    <li>1 cup sugar</li>
    <li>1 cup water</li>
   <li> 3 cardamom, powdered</li>
    <li>1 tbsp lemon juice</li>
</ul><p>
    FOR GULAB JAMUN:
</p>
  <ul>
      <li>9 tbsp milk powder</li>
    <li>3½ tbsp maida / all-purpose flour / plain flour</li>
      <li>1 tbsp rava / semolina / sooji</li>
      <li>pinch of baking soda</li>
   <li> 1 tsp lemon juice</li>
      <li>1 tsp ghee / clarified butter</li>
      <li>4-5 tbsp milk, warm</li>
</ul>
</p>
<p>
    <strong>INSTRUCTIONS</strong></p>
<p>SUGAR SYRUP RECIPE:</p>
firstly, in a wide pan take 1 cup of sugar.</br>
    further, to that add 1 cup of water and get to a boil.</br>
    then simmer for 4 minutes till the sugar syrup turns slightly sticky.</br>
    now add cardamom powder.</br>
    also add lemon juice to stop crystallization process.</br>
    cover and keep aside.</br>
<strong>GULAB JAMUN RECIPE:</strong>
    firstly in a large mixing bowl take milk powder.</br>
    further, to that add maida and rava.</br>
    then add pinch of baking soda</br>
    also add ghee, lemon juice and crumble well.</br>
    slowly add milk little by little and knead well.</br>
    knead to a smooth and soft dough.</br>
    furthermore, make small balls greasing ghee to hands.</br>
    make sure there are no cracks on balls. else there are chances for gulab jamun to break while frying.</br>
    heat the ghee on low flame and when the ghee is moderately hot, fry the jamuns.</br>
    fry the balls on low flame stirring in between.</br>
    fry till the balls turns golden brown.</br>
    immediately, drop the hot jamuns into hot sugar syrup.</br>
    cover the lid and rest for 2 hours. flame should be turned off.</br>
    finally, the jamuns have doubled in size.</br>
</p>
</body>
</html>