<!DOCTYPE html>
<html lang="en" xmlns:https="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8">
    <title>Ras Malai</title>
</head>
<body style="background-color:powderblue;">
<h2>Ras Malai</h2>
<img src="https://cdn-images-1.medium.com/max/1600/1*_3PyBDhqJz9osPkxPQjWNQ.jpeg"height="300" width="300">
<p><h2>Ingredients</h2></p>
<strong>For the rasmalai balls</strong></br>
<ul>
    <li>1 liter whole milk</li>
    <li>4 tablespoons lemon juice</li>
    <li>1 teaspoon cornflour</li>
    <li>4 cups water</li>
    <li>1 cup sugar</li>
    <li>For the ras [syrup]</li>
    <li>500 ml whole milk</li>
    <li>5-6 green cardamom pods, peeled and crushed to get the powder</li>
    <li>saffron, a pinch</li>
    <li>3-4 tablespoons sugar</li>
    <li>finely chopped pistachios</li>
</ul>
<p>
    <ol>
   <li> Boil milk in a heavy bottom pan.Once it comes to a boil, switch off the flame and add 1/2 cup of water to bring the
    temperature of the milk down a bit.</li>
    <li>Wait for 5-10 minutes and then start adding lemon juice till milk curdles.</li>
    <li>Add lemon juice till the milk curdles completely.</li>
    <li>Using a strainer drain the water and collect the chena.</li>
    <li>Rinse it under tap water so that there's no trace of lemon juice in it.</li>
    <li>Leave it in the strainer for 10-15 minutes and then take the chena in your hand and squeeze out remaining water slowly.</li>
    <li>Add cornflour and start mashing the chena till it’s smooth.</li>
    <li>Set the clock to 10 minutes and mash constantly for 10 minutes using your palm. Once it’s smooth, make small balls out of it.</li>
    <li>Heat 1 cup sugar and 4 cups water in a wide pan and wait till it comes to a full boil.</li>
    <li>Drop the balls in boiling sugar syrup and cook for 15-17 minutes. The balls will double in size by then.</li>
    <li>Take out the balls from the syrup and drop them in fresh water. If they sink to the bottom, the balls are done.</li>
</ol>
</p><p><strong>Thickened milk</strong></body></p>
<ol>
    <li>In a heavy bottom pan, boil 500 ml of milk.</li>
    <li>Soak few strands of saffron in a tablespoon of warm milk and set aside.</li>
    <li>Once the milk comes to a boil, lower the flame and continue to stir the milk at regular intervals. After 10 minutes add sugar and mix.</li>
    <li>After 20-25 minutes the milk will thicken to desired consistency, add soaked saffron and crushed cardamom.</li>
    <li>Also add finely chopped pistachios [if using]. Mix and switch off the flame.</li>
    <li>Take out the cooled rasmalai balls from the sugar syrup, squeeze and flatten with your hands.</li>
    <li>Transfer the balls to thickened milk [milk should be warm].</li>
    <li>Chill in the refrigerator overnight or for 5-6 hours. Garnish with chopped pistachios and few saffron strands before serving.</li>
</ol>
</body>
</html>